@using PetShop.Custom;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PetShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{
        Html.RenderPartial("_MenuBar");
    }
    <div class="container body-content">
       
        @RenderBody()
        <center>
        @Html.Image("/Images/p.jpg", "Cute", "200")
            </center>
        @Html.MyCustomLabel("Julia Komorowska- Projekt C# ASP.NET Framework")
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PetShop</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)

</body>
</html>
